src/main/wsdl/PaymentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.core.easypay.payphone/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PaymentService" targetNamespace="http://ws.core.easypay.payphone/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.core.easypay.payphone/" elementFormDefault="unqualified" targetNamespace="http://ws.core.easypay.payphone/" version="1.0">

  <xs:element name="beginPayment" type="tns:beginPayment"/>

  <xs:element name="beginPaymentResponse" type="tns:beginPaymentResponse"/>

  <xs:element name="getPaymentEvents" type="tns:getPaymentEvents"/>

  <xs:element name="getPaymentEventsResponse" type="tns:getPaymentEventsResponse"/>

  <xs:element name="getPaymentMethods" type="tns:getPaymentMethods"/>

  <xs:element name="getPaymentMethodsResponse" type="tns:getPaymentMethodsResponse"/>

  <xs:element name="paymentEvent" type="tns:paymentEvent"/>

  <xs:element name="paymentEventsBlock" type="tns:paymentEventsBlock"/>

  <xs:element name="paymentMethod" type="tns:paymentMethod"/>

  <xs:element name="paymentRequest" type="tns:paymentRequest"/>

  <xs:complexType name="getPaymentEvents">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPaymentEventsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:paymentEventsBlock"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="paymentEventsBlock">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="events" nillable="true" type="tns:paymentEvent"/>
      <xs:element minOccurs="0" name="lastEventId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="paymentEvent">
    <xs:sequence/>
    <xs:attribute name="paymentEventId" type="xs:long"/>
    <xs:attribute name="type" type="tns:paymentEventType"/>
    <xs:attribute name="amount" type="xs:decimal"/>
    <xs:attribute name="reason" type="xs:string"/>
    <xs:attribute name="urlToOpen" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="getPaymentMethods">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getPaymentMethodsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:paymentMethod"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="paymentMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="paymentMethodId" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="beginPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:paymentRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="paymentRequest">
    <xs:sequence/>
    <xs:attribute name="paymentMethodId" type="xs:string"/>
    <xs:attribute name="amount" type="xs:decimal"/>
  </xs:complexType>

  <xs:complexType name="beginPaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="paymentEventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS"/>
      <xs:enumeration value="FAILURE"/>
      <xs:enumeration value="OPEN_URL"/>
      <xs:enumeration value="AMOUNT_CHANGED"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPaymentEventsResponse">
    <wsdl:part element="tns:getPaymentEventsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPaymentMethods">
    <wsdl:part element="tns:getPaymentMethods" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="beginPayment">
    <wsdl:part element="tns:beginPayment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPaymentMethodsResponse">
    <wsdl:part element="tns:getPaymentMethodsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPaymentEvents">
    <wsdl:part element="tns:getPaymentEvents" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="beginPaymentResponse">
    <wsdl:part element="tns:beginPaymentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaymentService">
    <wsdl:operation name="getPaymentEvents">
      <wsdl:input message="tns:getPaymentEvents" name="getPaymentEvents">
    </wsdl:input>
      <wsdl:output message="tns:getPaymentEventsResponse" name="getPaymentEventsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentMethods">
      <wsdl:input message="tns:getPaymentMethods" name="getPaymentMethods">
    </wsdl:input>
      <wsdl:output message="tns:getPaymentMethodsResponse" name="getPaymentMethodsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="beginPayment">
      <wsdl:input message="tns:beginPayment" name="beginPayment">
    </wsdl:input>
      <wsdl:output message="tns:beginPaymentResponse" name="beginPaymentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentServiceSoapBinding" type="tns:PaymentService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPaymentEvents">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPaymentEvents">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaymentEventsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentMethods">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPaymentMethods">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaymentMethodsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="beginPayment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="beginPayment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="beginPaymentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentService">
    <wsdl:port binding="tns:PaymentServiceSoapBinding" name="payment">
      <soap:address location="http://167.205.34.232:8080/easypay/PaymentService/PaymentService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
